/*
  Post
*/

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 58.59375%; /* 1024x600 비율 */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-separator {
  margin: 0 8px;
  color: #888;
}