---
layout: default
---

{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
      <span>{{ post.tags }}</span>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <!-- <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fas fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fas fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p> -->
    {% if post.period or post.stack %}
      <div class="period">
        {% if post.category %}
          {% if post.category == "Game_Development" %}<span class="period-text">게임 프로젝트</span>{% endif %}
          {% if post.category == "Game_Planning" %}<span class="period-text">게임 기획</span>{% endif %}
          {% if post.category == "Not_Game_Development" %}<span class="period-text">게임 외 프로젝트</span>{% endif %}
        {% endif %}

        {% if post.period %}
          <span class="title-separator"> | </span>
          <span class="period-text">{{ post.period }}</span>
        {% endif %}

        {% if post.stack %}
          <span class="title-separator"> | </span>
          <span class="stack-icons">
            {% for tech in post.stack %}
              <img 
                src="{{ site.github.url }}/assets/icons/{{ tech }}.svg" 
                alt="{{ tech }}" 
                class="stack-icon"
                style="width: 22px; height: 22px;"
              >
            {% endfor %}
          </span>
        {% endif %}
      </div>
    {% endif %}
    <p class="post">{{ post.summary | newline_to_br }}</p>
    <a class="post" href="{{ site.github.url }}{{ post.url }}">Read More</a>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
