---
layout: default
---

<h1>
  {{ page.title }}
  {% if page.stack %}
    <span class="title-separator"> | </span>
    <span class="project-stack">
      {% for tech in page.stack %}
        <img 
            src="{{ site.github.url }}/assets/icons/{{ tech }}.svg" 
            alt="{{ tech }}" 
            class="stack-icon"
            style="width: 26px; height: 26px;"
          >
      {% endfor %}
    </span>
  {% endif %}
</h1>

{% if page.youtube %}
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/{{ page.youtube }}?autoplay=1&mute=1&playsinline=1&loop=1&playlist={{ page.youtube }}"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>
{% elsif page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}

<section class="project-header">
  {% if page.period %}
    <p class="project-period">{{ page.period }}</p>
  {% endif %}

  

  {% if page.role %}
    <p class="project-role">
      <strong>Role:</strong> {{ page.role }}
    </p>
  {% endif %}
</section>

<section class="project-content">
  {{ content }}
</section>